figure {
    margin-bottom: $espacamento-4;
    text-align: center;
    
    figcaption, img {
        max-width: 100%;
        margin: 0 auto;
        @include body-system-regular(12, center);
    }
}

h3 {
    @include body-system-bold(20);
}

h4 {
    @include body-system-bold(18);
    margin-top: 2rem;
}

code {
    padding: 0 0.3rem;
    background-color: rgba(243, 146, 0, 0.1);
    border-radius: 0.3rem;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    dt {
        display: flex;
        gap: 2rem;
        font-weight: 700;
    }
    
    dd {
        margin-top: -0.5rem;
        color: $cor-fonte-sec;
        display: none;
        text-align: justify;
    }

    .aberto {
        display: block;
    }
}

article, article a {
    li, p, blockquote {margin-bottom: $espacamento-10;}
    @include body-system-regular(16);
    list-style-position: inside;
}

.conteudo {
    @include estrutura-grid(12, $espacamento-6);
    padding: 0 $espacamento-12;

    >div, h2, span, article, p, nav {
        grid-column: 3 / span 8;

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {
            grid-column: 1 / span 8;
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;
        }
    }
    
    @include responsividade ("desktop") {
        @include estrutura-grid(8, $espacamento-6);
    } 
    
    @include responsividade ("tablet") {
        @include estrutura-grid(8, $espacamento-6);
    } 

    @include responsividade ("mobile") {
        @include estrutura-grid(4, $espacamento-6);
        padding: 0 $espacamento-4;
    }  
}

.imagem__principal {
    @include responsividade("HD") {
        @include estrutura-grid(12, $espacamento-6);
        padding: 0 $espacamento-12;
    }

    @include responsividade ("desktop") {
        margin: 0 $espacamento-12;
    } 
    
    @include responsividade ("tablet") { 
        width: 100vw;
    } 

    @include responsividade ("mobile") {
        width: 100vw;
    }  

    img {
        border-radius: $espacamento-1;
        width: 100%;
        max-height: 60rem;

        @include responsividade ("HD") {
            grid-column: 3 / span 8;
            max-height: 42rem;
        }
    }
}

.conteudo__titulo {
    padding: 1rem 0;
    margin-bottom: $espacamento-2;
    @include headline-primary-bold(32);
}

.conteudo__preview {
    @include headline-primary-semibold(24);
    padding: 1rem 0;
    margin-bottom: $espacamento-4;
}

.conteudo__info {
    display: flex;
    justify-content: space-between;
    padding: $espacamento-1 0;
    @include body-system-regular(20, left, initial, $cor-neutra-3);
    span {
        @include body-system-bold(20, left, initial, $cor-neutra-3);
    }
    margin-bottom: $espacamento-4;

    @include responsividade("mobile") {
        flex-direction: column;
        gap: $espacamento-1;
    }
}

.conteudo__navegacao { 
    margin: $espacamento-10 0;
    padding: $espacamento-6;
    border: 1px solid $cor-neutra-1;
    border-radius: $espacamento-3;
    @include headline-primary-bold(24);
    list-style-position: inside;

    ol {
        margin-top: $espacamento-10;
        display: none;

        li:not(:last-child) {
            margin-bottom: $espacamento-6;
        }

        li a, li{
            @include headline-primary-medium(24);
        }

        li:hover {
            @include headline-primary-semibold(24);
        }

        li a:hover {
            @include headline-primary-semibold(24);
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .conteudo__navegacao__itens--ativo {
        display: block;
        animation: abrirMenu .5s forwards;
    }

    .conteudo__navegacao__icone--ativo {
        animation: abrirIcone .15s forwards;
    }

    .conteudo__navegacao__icone--inativo {
        animation: fecharIcone .15s forwards;
    }


    .conteudo__navegacao__titulo {
        display: flex;
        justify-content: space-between;
        cursor: pointer
    }
}

@include keyframes(abrirMenu) {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 50rem;
    }
}

@include keyframes(abrirIcone) {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    70% { 
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@include keyframes(fecharIcone) {
    0% {
        transform: rotate(180deg);
    }
    30% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(90deg);
    }
    70% { 
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.conteudo__figuras {
    @include flex (center,center);
    flex-wrap: wrap;
    gap: $espacamento-10;
    margin-bottom: $espacamento-10;
}

.conteudo__figuras--em-coluna {
    @include flex(center);
    flex-direction: column;
    gap: 2rem;
}

.conteudo__tags-stats {
    display: flex;
    flex-direction: column;
    gap: $espacamento-6;
    margin-bottom: $espacamento-6;
    @include body-system-semibold(16);
    
    .conteudo__stats{
        display: flex;
        justify-content: space-between;

        @include responsividade("mobile") {
            flex-direction: column;
            gap: $espacamento-2;
        }

        div:nth-child(1), div:nth-child(2) {
            display: flex;
            gap: $espacamento-6;
            padding: 1rem 0;
            
            div {
                display: flex;
                align-items: center;
                gap: $espacamento-2;
            }
        }
    }
}

.conteudo__autor {
    text-align: center;
    img {
        border-radius: 50%;
        width: 16rem;
        margin: $espacamento-25 auto $espacamento-4 auto;
    }

    p {
        @include body-system-regular(16);
    }
}

.conteudo__demonstracao__botao {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: $fonte-tags;
    background-color: $cor-tag-javascript;
    border: 1px solid $cor-fonte-sec;
    text-transform: uppercase;
}

.conteudo__demonstracao__botoes {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 1rem;
}

.conteudo__texto__botao {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $cor-fonte-sec;
    text-transform: uppercase;
    font-family: $fonte-tags;
    cursor: pointer;
}

.artigo__formulario__item--erro {
    @include body-system-regular(14, $cor-erro);
}

.artigo__formulario {
    background-color: $cor-primaria;
    padding: $espacamento-10 $espacamento-12;
    @include estrutura-grid(12, $espacamento-6);
    row-gap: $espacamento-3;
    position: relative;

    @include responsividade ("desktop") {
        @include estrutura-grid(8, $espacamento-6);
    } 
    
    @include responsividade ("tablet") {
        @include estrutura-grid(8, $espacamento-6);       
    } 

    @include responsividade ("mobile") {
        @include estrutura-grid(4, $espacamento-6);
        padding: $espacamento-10 $espacamento-4;
    }

    h2 {
        grid-column: 3 / span 5;
        @include body-system-bold(20);

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {        
            grid-column: 1 / span 8; 
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;              
        }
    }
    
    > p {
        grid-column: 3 / span 6;
        @include body-system-regular(14);

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {        
            grid-column: 1 / span 8; 
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;              
        }
    }

    form {
        grid-column: 3 / span 8;
        display: flex;
        flex-direction: column;
        gap: $espacamento-3;

        button {
            width: fit-content;
        }

        .botao__primario--enabled {
            color: $cor-primaria;
            cursor: pointer;
        }

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {        
            grid-column: 1 / span 8; 
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;              
        }
        
        .artigo__formulario__usuario {
            width: 100%;
            @include estrutura-grid(2, $espacamento-6);
            margin-bottom: $espacamento-1;

            @include responsividade ("mobile") {
                display: flex;
                flex-direction: column;
                
                #nome {
                    margin-bottom: $espacamento-4;
                }

            }

            input {
                justify-self: stretch;
            }

            #erro-nome, #erro-email {
                margin-top: $espacamento-1;
                grid-row: 2;
            }
            #erro-nome {
                @include responsividade("mobile") {
                    margin-top: -$espacamento-3;
                    margin-bottom: $espacamento-4;
                }
            }

            #erro-email {
                grid-column: 2;
            }
        }

        .artigo__formulario__salvar {
            @include flex (initial, center);
            gap: $espacamento-1;
            @include body-system-regular(14, left, initial, $cor-neutra-1);
            margin-bottom: $espacamento-3;

            @include responsividade ("mobile") {
                align-items: start;
            }

            input[type="checkbox"] {
                display:none;
            }

            button {
                background-color: transparent;
                border: none;
            }
        }
    }
}

.artigo__formulario__item--erro {  
    display: none;
    @include body-system-regular(14, left, initial, $cor-erro);
}

.conteudo__tarefas__listagem {
    width: fit-content;
    margin: 0 auto;
    background-color: $cor-neutra-2;
    border-radius: $espacamento-2;

    .tarefas__listagem__item {
        border-radius: $espacamento-2;
        padding-left: 1rem;
        color: $cor-primaria;
    }

    .tarefas__listagem__item--casa, .tarefas__listagem__item--estudos, .tarefas__listagem__item--trabalho {
        padding: .5rem 1rem;
        border-radius: $espacamento-2;
    }

    .tarefas__listagem__item--casa {
        background-color: $cor-tag-designux;
    }
    .tarefas__listagem__item--estudos {
        background-color: $cor-tag-people;
    }
    .tarefas__listagem__item--trabalho {
        background-color: $cor-tag-tecnologia;
    }

    .listagem__item__botao {
        color: $cor-erro;
        border: 1px solid $cor-neutra-3;
        border-radius: $espacamento-2;        padding: .1rem .6rem;
        cursor: pointer;
    }  
}

.conteudo__tarefas__listagem--dark {
    background-color: $cor-primaria;
    
    .tarefas__listagem__item {
        color: $cor-neutra-2;
    }

    .tarefas__listagem__item--casa, .tarefas__listagem__item--estudos, .tarefas__listagem__item--trabalho {
        color: $cor-neutra-2;
    }
}

.conteudo__tarefas__listagem--light {
    background-color: $cor-neutra-2;
    
    .tarefas__listagem__item {
        color: $cor-primaria;
    }

    .tarefas__listagem__item--casa, .tarefas__listagem__item--estudos, .tarefas__listagem__item--trabalho {
        color: $cor-primaria;
    }
}

.conteudo__demonstracao__produto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid $cor-neutra-3;
    border-radius: $espacamento-2;
    color: $cor-primaria;
    
    & img {
        max-height: 8rem;
    }

    & span {
        font-size: 1.4rem;
    }

    & button {
        padding: 0.5rem 1rem;
        border-radius: $espacamento-1;
        border: none;
        background-color: $cor-secundaria;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.02);
        }
    }
}

.conteudo__demonstracao__carrinho {
    margin-top: 2rem;
    width: 48px;
    position: relative;
    margin-left: 50%;

    & img {
        width: 100%;
    }

    & .carrinho__notificacao {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        left: 40px;
        top: -5px;
        background-color: red;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.carrinho__descricao {
    padding: 1rem;
    background-color: $cor-neutra-1;
    border-radius: $espacamento-2;
    position: absolute;
    z-index: 0.5;
    width: 20rem;
    display: none;
    @include box-shadow(0 10px 20px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.1));

    & p {
        @include headline-primary-bold(14, left, initial, $cor-primaria);
        width: fit-content;
    }
}

//Carrossel

.artigo__indicacoes {
    width: 100vw;
    padding: $espacamento-20 $espacamento-11 0 $espacamento-11;
    
    h2 {
       grid-column: 1 / span 3;
       @include headline-primary-bold(24); 
    }

    .artigo__carrossel {
        background: center no-repeat url(../images/bg-carrossel-artigo.png);
        background-size: cover;
        height: 60rem;
        width: 100vw;
        right: $espacamento-11;
        position: relative;

        .container {
            margin: 0 $espacamento-11;
            width: 95%;
            height: 200px;
            position: absolute; 
            overflow: hidden;
            top: 40px;
        }
            
        .inner-container {
            display: flex;
            gap: 10px;
            pointer-events: none;
            position: absolute;
        }
            
        .item {
            height: 200px;
            width: 400px;
            border-radius: 5px;
            background-color: lightgrey;
        }
    }
}

