figure {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    
    figcaption, img {
        max-width: 60vw;
        margin: 0 auto;

        @include responsividade("tablet") {
            max-width: 80%;
        }

        @include responsividade("mobile") {
            max-width: 100% !important;
        }
    }
}

h3 {
    font-size: 2rem;
    margin: 2rem 0 0.5rem 0;
}

h4 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

p, li {
    text-align: justify;
}

code {
    padding: 0 0.3rem;
    background-color: rgba(243, 146, 0, 0.1);
    border-radius: 0.3rem;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    dt {
        display: flex;
        gap: 2rem;
        font-weight: 700;
    }
    
    dd {
        margin-top: -0.5rem;
        color: $cor-fonte-sec;
        display: none;
        text-align: justify;
    }

    .aberto {
        display: block;
    }
}

.conteudo {
    word-break: break-word;
    display: flex;
    flex-direction: column;

    .artigo__info {
        margin-top: 3rem;
    } 
}

.conteudo__titulo {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-family: $fonte-titulos;
}

.conteudo__texto {
    font-size: 1.6rem;
    color: $cor-fonte-sec;

    span {
        font-weight: 600;
    }
}

.conteudo__figuras {
    @include flex (center,center);
    flex-wrap: wrap;
    gap: 3rem;
}

.conteudo__figuras--em-coluna {
    @include flex(center);
    flex-direction: column;
    gap: 2rem;
}

.artigo__info__autor__nome p{
    margin: 0;
}

.conteudo__demonstracao__botao {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: $fonte-tags;
    background-color: $cor-tag-javascript;
    border: 1px solid $cor-fonte-sec;
    text-transform: uppercase;
}

.conteudo__demonstracao__botoes {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 1rem;
}

.conteudo__texto__botao {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $cor-fonte-sec;
    text-transform: uppercase;
    font-family: $fonte-tags;
    cursor: pointer;
}

//Novo layout
.artigo__formulario__item--erro {
    @include body-system-regular(14, $cor-erro);
}

.artigo__formulario {
    background-color: $cor-primaria;
    padding: $espacamento-10 $espacamento-12;
    @include estrutura-grid(12, $espacamento-6);
    row-gap: $espacamento-3;
    position: relative;

    @include responsividade ("desktop") {
        @include estrutura-grid(8, $espacamento-6);
    } 
    
    @include responsividade ("tablet") {
        @include estrutura-grid(8, $espacamento-6);       
    } 

    @include responsividade ("mobile") {
        @include estrutura-grid(4, $espacamento-6);
    }

    h2 {
        grid-column: 3 / span 4;
        @include body-system-bold(20);

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {        
            grid-column: 1 / span 8; 
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;              
        }
    }
    
    > p {
        grid-column: 3 / span 6;
        @include body-system-regular(14);

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {        
            grid-column: 1 / span 8; 
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;              
        }
    }

    form {
        grid-column: 3 / span 8;
        display: flex;
        flex-direction: column;
        gap: $espacamento-3;

        button {
            width: fit-content;
        }

        .botao__primario--enabled {
            color: $cor-primaria;
            cursor: pointer;
        }

        @include responsividade ("desktop") {
            grid-column: 2 / span 6;
        } 
        
        @include responsividade ("tablet") {        
            grid-column: 1 / span 8; 
        } 
    
        @include responsividade ("mobile") {
            grid-column: 1 / span 4;              
        }
        
        .artigo__formulario__usuario {
            width: 100%;
            @include estrutura-grid(2, $espacamento-6);
            margin-bottom: $espacamento-1;

            @include responsividade ("mobile") {
                display: flex;
                flex-direction: column;
                
                #nome {
                    margin-bottom: $espacamento-4;
                }

            }

            input {
                justify-self: stretch;
            }

            #erro-nome, #erro-email {
                margin-top: $espacamento-1;
                grid-row: 2;
            }
            #erro-nome {
                @include responsividade("mobile") {
                    margin-top: -$espacamento-3;
                    margin-bottom: $espacamento-4;
                }
            }

            #erro-email {
                grid-column: 2;
            }
        }

        .artigo__formulario__salvar {
            @include flex (initial, center);
            gap: $espacamento-1;
            @include body-system-regular(14, left, initial, $cor-neutra-1);
            margin-bottom: $espacamento-3;

            @include responsividade ("mobile") {
                align-items: start;
            }

            input[type="checkbox"] {
                display:none;
            }

            button {
                background-color: transparent;
                border: none;
            }
        }
    }
}

.artigo__formulario__item--erro {  
    display: none;
    @include body-system-regular(14, left, initial, $cor-erro);
}

.conteudo__tarefas__listagem {
    width: fit-content;
    margin: 0 auto;
    background-color: $cor-neutra-2;
    border-radius: $espacamento-2;

    .tarefas__listagem__item {
        border-radius: $espacamento-2;
        padding-left: 1rem;
        color: $cor-primaria;
    }

    .tarefas__listagem__item--casa, .tarefas__listagem__item--estudos, .tarefas__listagem__item--trabalho {
        padding: .5rem 1rem;
        border-radius: $espacamento-2;
    }

    .tarefas__listagem__item--casa {
        background-color: $cor-tag-designux;
    }
    .tarefas__listagem__item--estudos {
        background-color: $cor-tag-people;
    }
    .tarefas__listagem__item--trabalho {
        background-color: $cor-tag-tecnologia;
    }

    .listagem__item__botao {
        color: $cor-erro;
        border: 1px solid $cor-neutra-3;
        border-radius: $espacamento-2;        padding: .1rem .6rem;
        cursor: pointer;
    }  
}

.conteudo__tarefas__listagem--dark {
    background-color: $cor-primaria;
    
    .tarefas__listagem__item {
        color: $cor-neutra-2;
    }

    .tarefas__listagem__item--casa, .tarefas__listagem__item--estudos, .tarefas__listagem__item--trabalho {
        color: $cor-neutra-2;
    }
}

.conteudo__tarefas__listagem--light {
    background-color: $cor-neutra-2;
    
    .tarefas__listagem__item {
        color: $cor-primaria;
    }

    .tarefas__listagem__item--casa, .tarefas__listagem__item--estudos, .tarefas__listagem__item--trabalho {
        color: $cor-primaria;
    }
}

.conteudo__demonstracao__produto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid $cor-neutra-3;
    border-radius: $espacamento-2;
    color: $cor-primaria;
    
    & img {
        max-height: 8rem;
    }

    & span {
        font-size: 1.4rem;
    }

    & button {
        padding: 0.5rem 1rem;
        border-radius: $espacamento-1;
        border: none;
        background-color: $cor-secundaria;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.02);
        }
    }
}

.conteudo__demonstracao__carrinho {
    width: 48px;
    position: relative;
    margin-left: 50%;

    & img {
        width: 100%;
    }

    & .carrinho__notificacao {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        left: 40px;
        top: -5px;
        background-color: red;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }
}