input, textarea {
    all: unset;
    background-color: $cor-primaria;
    padding: $espacamento-6;
    border: 0.05rem solid $cor-neutra-1;
    border-radius: $espacamento-2;
    @include body-system-regular(14, left, initial, $cor-neutra-1);
    display: block;

    &::placeholder {
        @include body-system-regular(14, left, initial, $cor-neutra-3);
    } 

    &:focus {
        background-color: $cor-primaria;
        @include body-system-regular(14, left, initial, $cor-neutra-1);
    }
    
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: all 5000s;
    }
}

.artigo__formulario {
    background-color: $cor-primaria;
    padding: $espacamento-10 $espacamento-12;
    @include estrutura-grid(12, $espacamento-6);
    row-gap: $espacamento-3;

    @include responsividade ("desktop") {
        @include estrutura-grid(8, $espacamento-6);
    } 
    
    @include responsividade ("tablet") {
        @include estrutura-grid(8, $espacamento-6);
    } 

    @include responsividade ("mobile") {
        @include estrutura-grid(4, $espacamento-6);
    }

    h2 {
        grid-column: 3 / span 4;
        @include body-system-bold(20);
    }
    
    > p {
        grid-column: 3 / span 6;
        @include body-system-bold(14);
    }

    form {
        grid-column: 3 / span 8;
        display: flex;
        flex-direction: column;
        gap: $espacamento-3;
        
        .artigo__formulario__usuario {
            width: 100%;
            @include estrutura-grid(2, $espacamento-6);
            margin-bottom: $espacamento-1;

            input {
                justify-self: stretch;
            }

            #erro-nome, #erro-email {
                margin-top: $espacamento-1;
                grid-row: 2;
            }

            #erro-email {
                grid-column: 7 / span 2;
            }
        }

        .artigo__formulario__salvar {
            display: flex;
            gap: $espacamento-2;
            @include body-system-regular(14, left, initial, $cor-neutra-1);
            margin-bottom: $espacamento-3;
        }

        button {
            width: fit-content;
        }
    }
}

.artigo__formulario__item--erro {  
    display: none;
    @include body-system-regular(14, left, initial, $cor-erro);
}

.botao__primario {
    background-color: $cor-secundaria;
    @include body-system-bold(14,center,uppercase, $cor-primaria); //Essa cor é somente pra quando o input estiver enabled, quando estiver disabled tem 0.7 de transparência. 
    border-radius: $espacamento-3;
    padding: $espacamento-4 $espacamento-8;
    border: none;
    cursor: pointer;
}