.conteudo__demonstracao {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .conteudo__demonstracao__item {
        background-color: #4FD1C5;
        padding: 0.2rem;
        text-align: center;
    }

    .conteudo__demonstracao__selecao {   
        label {
            margin-bottom: 0.5rem;
            text-align: center;
        }
    
        select {
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-family: $fonte-tags;
        }
    }

    .conteudo__demonstracao__flex-direction, .conteudo__demonstracao__justify-content, .conteudo__demonstracao__align-items, .conteudo__demonstracao__align-content, .conteudo__demonstracao__flex-wrap, .conteudo__demonstracao__gap-1, .conteudo__demonstracao__gap-2, .conteudo__demonstracao__align-self, .conteudo__demonstracao__flex-grow, .conteudo__demonstracao__flex-shrink, .conteudo__demonstracao__flex-basis, .conteudo__demonstracao__order {
        width: 10rem;
        height: 10rem;
        display: flex;
        border: 1px solid $cor-fonte-principal; 
    }
    
    .conteudo__demonstracao__direction--column {
        flex-direction: column;
    }
    .conteudo__demonstracao__direction--row-reverse {
        flex-direction: row-reverse;
    }
    
    .conteudo__demonstracao__direction--column-reverse {
        flex-direction: column-reverse;
    }
    
    .conteudo__demonstracao__align-content {
        flex-wrap: wrap;
    }
    
    .conteudo__demonstracao__gap-1 {
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .conteudo__demonstracao__gap-2 {
        gap: 1rem 2rem;
        flex-wrap: wrap;
    }
    
    .conteudo__demonstracao__flex-grow {
        width: 20rem;
        div {
            border: 1px solid $cor-fonte-principal;
        };
    
        .conteudo__demonstracao__item--2 {
            flex-grow: 2;
        }
    
        .conteudo__demonstracao__item--3 {
            flex-grow: 3;
        }
    }
    
    .conteudo__demonstracao__flex-shrink {
        width: 20rem;
    
        div {
            border: 1px solid $cor-fonte-principal;
            width: 150px;
        }
    
        .conteudo__demonstracao__item--2 {
            flex-shrink: 2;
        }
    
        .conteudo__demonstracao__item--3 {
            flex-shrink: 3;
        }
    }
    
    .conteudo__demonstracao__flex-basis {
        width: 50%;
        gap: 1rem;
    
        div {
            border: 1px solid $cor-fonte-principal;
        }
    
        .conteudo__demonstracao__item--2 {
            flex-basis: 150px;
        }
    
        .conteudo__demonstracao__item--3 {
            flex-basis: 100px;
        }
    }
    
    .conteudo__demonstracao__order {
        width: fit-content;
        gap: 1rem;
    
        .conteudo__demonstracao__item--1 {
            order: 2;
        }
    
        .conteudo__demonstracao__item--2 {
            order: 3;
        }
    
        .conteudo__demonstracao__item--3 {
            order: 1;
        }
    }
}

.conteudo__legenda {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: $cor-fonte-principal;
}

