footer {
    background-color: rgba(31, 32, 65, 0.5);      
    color: $cor-neutra-1;
    padding: 11.278rem $espacamento-12;
    
    @include responsividade ("desktop") {
        padding: $espacamento-20;
    }

    @include responsividade ("tablet") {
        padding: $espacamento-20;
    }

    @include responsividade ("mobile") {
        padding: $espacamento-20 $espacamento-6;
    }
}

.footer__listas {
    @include estrutura-grid(12, $espacamento-6);
    
    @for $i from 1 through 5 {
        ul:nth-child(#{$i}) {
            grid-column: $i*2 / span 2;  
        }
    }

    @include responsividade ("desktop") {
        ul:nth-child(odd) {
            grid-column: 1 / 4;  
        }

        ul:nth-child(even) {
            grid-column: 5 / 7;  
        }
    } 
    
    @include responsividade ("tablet") {
        ul:nth-child(odd) {
            grid-column: 1 / 4;  
        }

        ul:nth-child(even) {
            grid-column: 5 / 8;  
        }
    } 

    @include responsividade ("mobile") {
        @for $i from 1 through 5 {
            ul:nth-child(#{$i}) {
                grid-column: 1 / span 3;  
            }
        }
    }
}

.footer__listagem {
    .footer__listagem__titulo, .footer__listagem__titulo a {
        margin-bottom: $espacamento-6;
        @include headline-primary-bold(14, left, uppercase);
        letter-spacing: 0.05rem;
    }
    
    .footer__listagem__item, .footer__listagem__item a {
        margin-bottom: $espacamento-3;
        @include headline-primary-regular(14, left, uppercase);
        letter-spacing: 0.05rem;
    }
}

.footer__redes {
    @include estrutura-grid(12, $espacamento-6);
    margin-bottom: $espacamento-20; 
    p {
        @include headline-primary-regular(14, left, uppercase, $cor-secundaria);
        letter-spacing: 0.13rem;
        margin-bottom: $espacamento-3;
        grid-column: 2 / span 2;
    }

    div {
        display: flex;
        gap: $espacamento-4;
        grid-column: 2 / span 2;
    }
}

.footer__codigo-conduta {
    @include headline-primary-bold(12, center, initial, $cor-neutra-5);
    letter-spacing: 0.05rem;
}
