header {
    padding: $espacamento-6 $espacamento-10;
    @include sticky();
    top: 0;
    z-index: 1;
    @include flex(center, center);
    gap: $espacamento-20;
    background-color: rgba(18, 19, 38, 0.5);

    a[href="https://www.zappts.com.br/contato/"] {
        color: $cor-primaria;
    }
}

.navegacao {
    @include flex(center);

    li {
        border-radius: $espacamento-3;
        a {
            @include headline-primary-regular(14, center, uppercase);
            letter-spacing: 0.05;
            display: inline-block;
            padding: $espacamento-4;
        }
        
        &:hover {
            background-color: $cor-primaria;
            a {   
                font-weight: 800;
            }
        }
    }

    @include responsividade("mobile"){
        display: none;
    }

    @include responsividade("tablet"){
        display: none;
    }
}

.idiomas {
    padding: $espacamento-4;
    border-radius: $espacamento-3;
    
    ul {
        @include flex(center);
        flex-direction: column;
        gap: $espacamento-3;
    }

    ul li {
        @include headline-primary-bold(14, left, uppercase);
        @include flex(left, center);
        gap: $espacamento-3;
        letter-spacing: -0.03;
    }

    &:hover{
        background-color: $cor-primaria;
    }
}