:root {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$cor-primaria: #1F2041;
$cor-secundaria: #F39200;
$cor-neutra-1: #FFFFFF;
$cor-neutra-2: #EBEBEB;
$cor-neutra-3: #C2C2C2;
$cor-neutra-4: #999999;
$cor-neutra-5: #707070;

$cor-tag-tecnologia: #6DBEFF;
$cor-tag-designux: #FF8F7C;
$cor-tag-people: #89E581;
$cor-tag-marketing: $cor-tag-people;
$cor-tag-natureza: $cor-tag-people;
$cor-tag-livros: #FFD169;
$cor-tag-filmes: #999999;
$cor-tag-frontend: $cor-tag-tecnologia;
$cor-tag-backend: $cor-tag-tecnologia;
$cor-tag-dados: $cor-tag-livros;
$cor-tag-ia: $cor-tag-designux;

$gradiente-1: linear-gradient(349.83deg, #0095DA 33.33%, #0D3342 95.94%);

$fonte-headline: 'Montserrat', sans-serif;
$fonte-body: 'Open Sans', sans-serif;

$fator-line-height: 1.22;

$espacamento-1: 0.4rem;
$espacamento-2: 0.8rem;
$espacamento-3: 1.2rem;
$espacamento-4: 1.6rem;
$espacamento-5: 2rem;
$espacamento-6: 2.4rem;
$espacamento-7: 2.8rem;
$espacamento-8: 3.2rem;
$espacamento-9: 3.6rem;
$espacamento-10: 4rem;
$espacamento-11: 4.4rem;
$espacamento-12: 4.8rem;
$espacamento-13: 5.2rem;
$espacamento-14: 5.6rem;
$espacamento-15: 6rem;
$espacamento-16: 6.4rem;
$espacamento-17: 6.8rem;
$espacamento-18: 7.2rem;
$espacamento-19: 7.6rem;
$espacamento-20: 8rem;
$espacamento-21: 8.4rem;
$espacamento-22: 8.8rem;
$espacamento-23: 9.2rem;
$espacamento-24: 9.6rem;
$espacamento-25: 10rem;
