@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  padding: 2rem;
  position: sticky;
  position: -webkit-sticky;
  position: -ms-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #f6f6f6;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
}
main > h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
}

blockquote {
  font-size: 1.4rem;
  margin: 2rem 0 2rem 1rem;
  padding-left: 1rem;
  border-left: 0.2rem solid #5b5b5b;
}

.artigo__tag--html {
  background-color: #E5532D;
}

.artigo__tag--css-basico {
  background-color: #0095DA;
}

.artigo__tag--posicionamento {
  background-color: #FF8F7C;
}

.artigo__tag--animacoes {
  background-color: #F39200;
}

.artigo__tag--responsividade {
  background-color: #1BB2BB;
}

.artigo__tag--javascript {
  background-color: #F7E025;
}

.navegacao {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 3rem;
  font-size: 1.6rem;
}
.navegacao a:hover {
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .navegacao {
    display: none;
  }
}
@media screen and (768px <= width <= 1023px) {
  .navegacao {
    display: none;
  }
}

.navegacao--responsiva {
  display: none;
  position: relative;
}
@media screen and (max-width: 767px) {
  .navegacao--responsiva {
    display: block;
  }
}
@media screen and (768px <= width <= 1023px) {
  .navegacao--responsiva {
    display: block;
  }
}

.navegacao__botao--responsiva {
  align-self: center;
  border: none;
}

.navegacao__imagem--responsiva {
  height: 4rem;
  width: 4rem;
  border-radius: 0;
}
@media screen and (768px <= width <= 1023px) {
  .navegacao__imagem--responsiva {
    max-width: 100%;
  }
}

.navegacao__listagem--responsiva {
  display: none;
  position: absolute;
  top: 6rem;
}
.navegacao__listagem--responsiva a {
  display: block;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.pesquisa {
  position: relative;
}
.pesquisa img {
  position: absolute;
  right: 5%;
  top: 0.5rem;
}

.pesquisa__item {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #5b5b5b;
  border-radius: 0.5rem;
}
@media screen and (max-width: 767px) {
  .pesquisa__item {
    width: 30vw;
  }
}

.artigo {
  text-align: center;
}
.artigo > img {
  max-width: 100%;
  height: 60vh;
}
@media screen and (max-width: 767px) {
  .artigo > img {
    height: 40vh;
  }
}
@media screen and (768px <= width <= 1023px) {
  .artigo > img {
    height: 50vh;
  }
}

.artigo__card {
  position: relative;
}
.artigo__card a {
  padding: 2rem;
  width: fit-content;
  max-width: 80%;
  position: absolute;
  bottom: -5rem;
  left: 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  background-color: #f6f6f6;
  border-radius: 1.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
}
.artigo__card a h2 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  line-height: 3.1rem;
}
@media screen and (max-width: 767px) {
  .artigo__card a {
    left: 10%;
  }
}
@media screen and (768px <= width <= 1023px) {
  .artigo__card a {
    left: 10%;
  }
}
.artigo__card span {
  margin-bottom: 0;
}

.listagem-artigos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  .listagem-artigos {
    grid-template-columns: 1fr;
  }
}
@media screen and (768px <= width <= 1023px) {
  .listagem-artigos {
    grid-template-columns: repeat(2, 1fr);
  }
}

.listagem-artigos__card a {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
}
.listagem-artigos__card a h2 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
}
.listagem-artigos__card a > img {
  width: 100%;
  height: 50%;
  border-radius: 1rem;
}
.listagem-artigos__card span {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .listagem-artigos__card {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
  }
}

.artigo__tag {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  margin-bottom: 2rem;
  font: 600 1.2rem "Space Mono", sans-serif;
  border-radius: 0.8rem;
}

.artigo__info {
  display: flex;
  justify-content: space-between;
  align-items: normal;
}

.artigo__info__autor {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 1rem;
}
.artigo__info__autor img {
  width: 5rem;
  border-radius: 100%;
}

.artigo__info__autor__nome {
  font-size: 1.2rem;
}
.artigo__info__autor__nome p {
  font-weight: 800;
}
.artigo__info__autor__nome span {
  color: #999999;
}

.artigo__data {
  display: flex;
  justify-content: normal;
  align-items: center;
  font-weight: 800;
  font-size: 1.2rem;
}

.titulo {
  margin: 2rem 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
}

figure {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
}
figure figcaption, figure img {
  max-width: 60vw;
  margin: 0 auto;
}
@media screen and (768px <= width <= 1023px) {
  figure figcaption, figure img {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  figure figcaption, figure img {
    max-width: 100% !important;
  }
}

h3 {
  font-size: 2rem;
  margin: 2rem 0 0.5rem 0;
}

h4 {
  font-size: 1.6rem;
  margin-top: 2rem;
}

p, li {
  text-align: justify;
}

code {
  padding: 0 0.3rem;
  background-color: rgba(243, 146, 0, 0.1);
  border-radius: 0.3rem;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
dl dt {
  display: flex;
  gap: 2rem;
  font-weight: 700;
}
dl dd {
  margin-top: -0.5rem;
  color: #5b5b5b;
  display: none;
  text-align: justify;
}
dl .aberto {
  display: block;
}

.conteudo {
  display: flex;
  flex-direction: column;
}
.conteudo .artigo__info {
  margin-top: 3rem;
}

.conteudo__titulo {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

.conteudo__texto {
  font-size: 1.6rem;
  color: #5b5b5b;
}
.conteudo__texto span {
  font-weight: 600;
}

.conteudo__figuras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.conteudo__figuras--em-coluna {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  gap: 2rem;
}

.artigo__info__autor__nome p {
  margin: 0;
}

.conteudo__demonstracao__botao {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: "Space Mono", sans-serif;
  background-color: #F7E025;
  border: 1px solid #5b5b5b;
  text-transform: uppercase;
}

.conteudo__demonstracao__botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.conteudo__texto__botao {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #5b5b5b;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  cursor: pointer;
}

.artigo__formulario__item--erro {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: #FF262D;
  text-transform: initial;
  color: #FFFFFF;
}

.artigo__formulario {
  background-color: #1F2041;
  padding: 4rem 4.8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.4rem;
  row-gap: 1.2rem;
}
@media screen and (1024px <= width <= 1365px) {
  .artigo__formulario {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2.4rem;
  }
}
@media screen and (768px <= width <= 1023px) {
  .artigo__formulario {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .artigo__formulario {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
  }
}
.artigo__formulario h2 {
  grid-column: 3/span 4;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 2.44rem;
  font-weight: 700;
  text-align: left;
  text-transform: initial;
  color: #FFFFFF;
}
@media screen and (1024px <= width <= 1365px) {
  .artigo__formulario h2 {
    grid-column: 2/span 6;
  }
}
@media screen and (768px <= width <= 1023px) {
  .artigo__formulario h2 {
    grid-column: 1/span 8;
  }
}
@media screen and (max-width: 767px) {
  .artigo__formulario h2 {
    grid-column: 1/span 4;
  }
}
.artigo__formulario > p {
  grid-column: 3/span 6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: left;
  text-transform: initial;
  color: #FFFFFF;
}
@media screen and (1024px <= width <= 1365px) {
  .artigo__formulario > p {
    grid-column: 2/span 6;
  }
}
@media screen and (768px <= width <= 1023px) {
  .artigo__formulario > p {
    grid-column: 1/span 8;
  }
}
@media screen and (max-width: 767px) {
  .artigo__formulario > p {
    grid-column: 1/span 4;
  }
}
.artigo__formulario form {
  grid-column: 3/span 8;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.artigo__formulario form button {
  width: fit-content;
}
.artigo__formulario form .botao__primario--enabled {
  color: #1F2041;
  cursor: pointer;
}
@media screen and (1024px <= width <= 1365px) {
  .artigo__formulario form {
    grid-column: 2/span 6;
  }
}
@media screen and (768px <= width <= 1023px) {
  .artigo__formulario form {
    grid-column: 1/span 8;
  }
}
@media screen and (max-width: 767px) {
  .artigo__formulario form {
    grid-column: 1/span 4;
  }
}
.artigo__formulario form .artigo__formulario__usuario {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 767px) {
  .artigo__formulario form .artigo__formulario__usuario {
    display: flex;
    flex-direction: column;
  }
  .artigo__formulario form .artigo__formulario__usuario #nome {
    margin-bottom: 1.6rem;
  }
}
.artigo__formulario form .artigo__formulario__usuario input {
  justify-self: stretch;
}
.artigo__formulario form .artigo__formulario__usuario #erro-nome, .artigo__formulario form .artigo__formulario__usuario #erro-email {
  margin-top: 0.4rem;
  grid-row: 2;
}
@media screen and (max-width: 767px) {
  .artigo__formulario form .artigo__formulario__usuario #erro-nome {
    margin-top: -1.2rem;
    margin-bottom: 1.6rem;
  }
}
.artigo__formulario form .artigo__formulario__usuario #erro-email {
  grid-column: 2;
}
.artigo__formulario form .artigo__formulario__salvar {
  display: flex;
  justify-content: initial;
  align-items: center;
  gap: 0.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: left;
  text-transform: initial;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 767px) {
  .artigo__formulario form .artigo__formulario__salvar {
    align-items: start;
  }
}
.artigo__formulario form .artigo__formulario__salvar input[type=checkbox] {
  display: none;
}
.artigo__formulario form .artigo__formulario__salvar button {
  background-color: transparent;
  border: none;
}

.artigo__formulario__item--erro {
  display: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: left;
  text-transform: initial;
  color: #FF262D;
}

.conteudo__botao {
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  position: relative;
  display: block;
  font-family: "Space Mono", sans-serif;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.conteudo__botao:hover {
  cursor: pointer;
  background-color: #b09bc1;
  color: #fff;
  border: 2px solid #b09bc1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

#conteudo__teste {
  padding: 0.5rem;
  width: 20vw;
  margin-bottom: 1rem;
  font-family: "Space Mono", sans-serif;
  border-radius: 0.5rem;
  border: 2px solid #000000;
  background-color: #e7e6e7;
}
#conteudo__teste:focus {
  background-color: #ffffff;
  color: #ff0000;
}
@media screen and (max-width: 767px) {
  #conteudo__teste {
    width: 100%;
  }
}
@media screen and (768px <= width <= 1023px) {
  #conteudo__teste {
    width: 80%;
  }
}

.conteudo__titulo--animado {
  animation: escrita 10s steps(120, end) infinite;
  -webkit-animation: escrita 10s steps(120, end) infinite;
  -moz-animation: escrita 10s steps(120, end) infinite;
  -o-animation: escrita 10s steps(120, end) infinite;
  white-space: nowrap;
  overflow: hidden;
}

.conteudo__animacao img {
  margin: 25vh 0 0 0;
  width: 3vw;
  position: relative;
  border-radius: 100%;
  animation: animacao 4s infinite linear alternate;
  -webkit-animation: animacao 4s infinite linear alternate;
  -moz-animation: animacao 4s infinite linear alternate;
  -o-animation: animacao 4s infinite linear alternate;
}
@media screen and (max-width: 767px) {
  .conteudo__animacao img {
    width: 10vw;
  }
}
@media screen and (768px <= width <= 1023px) {
  .conteudo__animacao img {
    width: 5vw;
  }
}

.conteudo__transicoes {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
.conteudo__transicoes div {
  margin: 2rem 0 1rem 0;
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: #ff0000;
  transition: all 1s ease-in;
}
@media screen and (max-width: 767px) {
  .conteudo__transicoes div {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (768px <= width <= 1023px) {
  .conteudo__transicoes div {
    width: 7rem;
    height: 7rem;
  }
}

.conteudo__transicoes--primeiro:hover {
  background-color: #b09bc1;
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
}

.conteudo__transicoes--segundo:hover {
  background-color: #b09bc1;
  transform: translateX(5rem);
  -webkit-transform: translateX(5rem);
  -ms-transform: translateX(5rem);
  -moz-transform: translateX(5rem);
  -o-transform: translateX(5rem);
}

.conteudo__transicoes--terceiro:hover {
  background-color: #b09bc1;
  transform: skew(15deg);
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
}

.conteudo__transicoes--quarto:hover {
  background-color: #b09bc1;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
}

@keyframes escrita {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes escrita {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes escrita {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes escrita {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes animacao {
  0% {
    left: 5vw;
  }
  4% {
    left: 8vw;
    bottom: 3vh;
  }
  7% {
    left: 10vw;
    bottom: 5vh;
  }
  14% {
    left: 15vw;
    bottom: 10vh;
  }
  21% {
    left: 20vw;
    bottom: 15vh;
  }
  28% {
    left: 25vw;
    bottom: 20vh;
  }
  31% {
    left: 28vw;
    bottom: 22.5vh;
  }
  35% {
    left: 30vw;
    bottom: 25vh;
  }
  38% {
    left: 33vw;
    bottom: 22.5vh;
  }
  42% {
    left: 35vw;
    bottom: 20vh;
  }
  49% {
    left: 40vw;
    bottom: 15vh;
  }
  56% {
    left: 35vw;
    bottom: 10vh;
  }
  63% {
    left: 30vw;
    bottom: 5vh;
  }
  70% {
    left: 30vw;
    bottom: 15vh;
  }
  74% {
    left: 33vw;
    bottom: 17vh;
  }
  77% {
    left: 35vw;
    bottom: 20vh;
  }
  84% {
    left: 45vw;
    bottom: 25vh;
  }
  87% {
    left: 47vw;
    bottom: 20vh;
  }
  91% {
    left: 50vw;
    bottom: 15vh;
  }
  95% {
    left: 55vw;
    bottom: 10vh;
  }
  100% {
    left: 60vw;
    bottom: 5vh;
  }
}
@-webkit-keyframes animacao {
  0% {
    left: 5vw;
  }
  4% {
    left: 8vw;
    bottom: 3vh;
  }
  7% {
    left: 10vw;
    bottom: 5vh;
  }
  14% {
    left: 15vw;
    bottom: 10vh;
  }
  21% {
    left: 20vw;
    bottom: 15vh;
  }
  28% {
    left: 25vw;
    bottom: 20vh;
  }
  31% {
    left: 28vw;
    bottom: 22.5vh;
  }
  35% {
    left: 30vw;
    bottom: 25vh;
  }
  38% {
    left: 33vw;
    bottom: 22.5vh;
  }
  42% {
    left: 35vw;
    bottom: 20vh;
  }
  49% {
    left: 40vw;
    bottom: 15vh;
  }
  56% {
    left: 35vw;
    bottom: 10vh;
  }
  63% {
    left: 30vw;
    bottom: 5vh;
  }
  70% {
    left: 30vw;
    bottom: 15vh;
  }
  74% {
    left: 33vw;
    bottom: 17vh;
  }
  77% {
    left: 35vw;
    bottom: 20vh;
  }
  84% {
    left: 45vw;
    bottom: 25vh;
  }
  87% {
    left: 47vw;
    bottom: 20vh;
  }
  91% {
    left: 50vw;
    bottom: 15vh;
  }
  95% {
    left: 55vw;
    bottom: 10vh;
  }
  100% {
    left: 60vw;
    bottom: 5vh;
  }
}
@-moz-keyframes animacao {
  0% {
    left: 5vw;
  }
  4% {
    left: 8vw;
    bottom: 3vh;
  }
  7% {
    left: 10vw;
    bottom: 5vh;
  }
  14% {
    left: 15vw;
    bottom: 10vh;
  }
  21% {
    left: 20vw;
    bottom: 15vh;
  }
  28% {
    left: 25vw;
    bottom: 20vh;
  }
  31% {
    left: 28vw;
    bottom: 22.5vh;
  }
  35% {
    left: 30vw;
    bottom: 25vh;
  }
  38% {
    left: 33vw;
    bottom: 22.5vh;
  }
  42% {
    left: 35vw;
    bottom: 20vh;
  }
  49% {
    left: 40vw;
    bottom: 15vh;
  }
  56% {
    left: 35vw;
    bottom: 10vh;
  }
  63% {
    left: 30vw;
    bottom: 5vh;
  }
  70% {
    left: 30vw;
    bottom: 15vh;
  }
  74% {
    left: 33vw;
    bottom: 17vh;
  }
  77% {
    left: 35vw;
    bottom: 20vh;
  }
  84% {
    left: 45vw;
    bottom: 25vh;
  }
  87% {
    left: 47vw;
    bottom: 20vh;
  }
  91% {
    left: 50vw;
    bottom: 15vh;
  }
  95% {
    left: 55vw;
    bottom: 10vh;
  }
  100% {
    left: 60vw;
    bottom: 5vh;
  }
}
@-o-keyframes animacao {
  0% {
    left: 5vw;
  }
  4% {
    left: 8vw;
    bottom: 3vh;
  }
  7% {
    left: 10vw;
    bottom: 5vh;
  }
  14% {
    left: 15vw;
    bottom: 10vh;
  }
  21% {
    left: 20vw;
    bottom: 15vh;
  }
  28% {
    left: 25vw;
    bottom: 20vh;
  }
  31% {
    left: 28vw;
    bottom: 22.5vh;
  }
  35% {
    left: 30vw;
    bottom: 25vh;
  }
  38% {
    left: 33vw;
    bottom: 22.5vh;
  }
  42% {
    left: 35vw;
    bottom: 20vh;
  }
  49% {
    left: 40vw;
    bottom: 15vh;
  }
  56% {
    left: 35vw;
    bottom: 10vh;
  }
  63% {
    left: 30vw;
    bottom: 5vh;
  }
  70% {
    left: 30vw;
    bottom: 15vh;
  }
  74% {
    left: 33vw;
    bottom: 17vh;
  }
  77% {
    left: 35vw;
    bottom: 20vh;
  }
  84% {
    left: 45vw;
    bottom: 25vh;
  }
  87% {
    left: 47vw;
    bottom: 20vh;
  }
  91% {
    left: 50vw;
    bottom: 15vh;
  }
  95% {
    left: 55vw;
    bottom: 10vh;
  }
  100% {
    left: 60vw;
    bottom: 5vh;
  }
}
.conteudo__demonstracao {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.conteudo__demonstracao .conteudo__demonstracao__item {
  background-color: #4FD1C5;
  padding: 0.2rem;
  text-align: center;
}
.conteudo__demonstracao .conteudo__demonstracao__selecao label {
  margin-bottom: 0.5rem;
  text-align: center;
}
.conteudo__demonstracao .conteudo__demonstracao__selecao select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: "Space Mono", sans-serif;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-direction, .conteudo__demonstracao .conteudo__demonstracao__justify-content, .conteudo__demonstracao .conteudo__demonstracao__align-items, .conteudo__demonstracao .conteudo__demonstracao__align-content, .conteudo__demonstracao .conteudo__demonstracao__flex-wrap, .conteudo__demonstracao .conteudo__demonstracao__gap-1, .conteudo__demonstracao .conteudo__demonstracao__gap-2, .conteudo__demonstracao .conteudo__demonstracao__align-self, .conteudo__demonstracao .conteudo__demonstracao__flex-grow, .conteudo__demonstracao .conteudo__demonstracao__flex-shrink, .conteudo__demonstracao .conteudo__demonstracao__flex-basis, .conteudo__demonstracao .conteudo__demonstracao__order {
  width: 10rem;
  height: 10rem;
  display: flex;
  border: 1px solid #232323;
}
.conteudo__demonstracao .conteudo__demonstracao__direction--column {
  flex-direction: column;
}
.conteudo__demonstracao .conteudo__demonstracao__direction--row-reverse {
  flex-direction: row-reverse;
}
.conteudo__demonstracao .conteudo__demonstracao__direction--column-reverse {
  flex-direction: column-reverse;
}
.conteudo__demonstracao .conteudo__demonstracao__align-content {
  flex-wrap: wrap;
}
.conteudo__demonstracao .conteudo__demonstracao__gap-1 {
  gap: 1rem;
  flex-wrap: wrap;
}
.conteudo__demonstracao .conteudo__demonstracao__gap-2 {
  gap: 1rem 2rem;
  flex-wrap: wrap;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-grow {
  width: 20rem;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-grow div {
  border: 1px solid #232323;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-grow .conteudo__demonstracao__item--2 {
  flex-grow: 2;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-grow .conteudo__demonstracao__item--3 {
  flex-grow: 3;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-shrink {
  width: 20rem;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-shrink div {
  border: 1px solid #232323;
  width: 150px;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-shrink .conteudo__demonstracao__item--2 {
  flex-shrink: 2;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-shrink .conteudo__demonstracao__item--3 {
  flex-shrink: 3;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-basis {
  width: 50%;
  gap: 1rem;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-basis div {
  border: 1px solid #232323;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-basis .conteudo__demonstracao__item--2 {
  flex-basis: 150px;
}
.conteudo__demonstracao .conteudo__demonstracao__flex-basis .conteudo__demonstracao__item--3 {
  flex-basis: 100px;
}
.conteudo__demonstracao .conteudo__demonstracao__order {
  width: fit-content;
  gap: 1rem;
}
.conteudo__demonstracao .conteudo__demonstracao__order .conteudo__demonstracao__item--1 {
  order: 2;
}
.conteudo__demonstracao .conteudo__demonstracao__order .conteudo__demonstracao__item--2 {
  order: 3;
}
.conteudo__demonstracao .conteudo__demonstracao__order .conteudo__demonstracao__item--3 {
  order: 1;
}

.conteudo__legenda {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: #232323;
}

.conteudo__demonstracao__template-rows, .conteudo__demonstracao__template-columns, .conteudo__demonstracao__template-areas, .conteudo__demonstracao__template, .conteudo__demonstracao__row-gap, .conteudo__demonstracao__column-gap, .conteudo__demonstracao__gap, .conteudo__demonstracao__auto-rows, .conteudo__demonstracao__auto-columns, .conteudo__demonstracao__justify-content--grid, .conteudo__demonstracao__align-content--grid, .conteudo__demonstracao__justify-items--grid, .conteudo__demonstracao__align-items--grid, .conteudo__demonstracao__justify-self--grid, .conteudo__demonstracao__align-self--grid, .conteudo__demonstracao__grid-column, .conteudo__demonstracao__grid-auto-flow, .conteudo__demonstracao__order--grid {
  width: 20rem;
  height: 20rem;
  display: grid;
  border: 1px solid #232323;
}
.conteudo__demonstracao__template-rows div, .conteudo__demonstracao__template-columns div, .conteudo__demonstracao__template-areas div, .conteudo__demonstracao__template div, .conteudo__demonstracao__row-gap div, .conteudo__demonstracao__column-gap div, .conteudo__demonstracao__gap div, .conteudo__demonstracao__auto-rows div, .conteudo__demonstracao__auto-columns div, .conteudo__demonstracao__justify-content--grid div, .conteudo__demonstracao__align-content--grid div, .conteudo__demonstracao__justify-items--grid div, .conteudo__demonstracao__align-items--grid div, .conteudo__demonstracao__justify-self--grid div, .conteudo__demonstracao__align-self--grid div, .conteudo__demonstracao__grid-column div, .conteudo__demonstracao__grid-auto-flow div, .conteudo__demonstracao__order--grid div {
  border: 1px solid #232323;
  text-align: center;
}

.conteudo__demonstracao__template-columns {
  grid-template-columns: repeat(3, 1fr);
}

.conteudo__demonstracao__template-rows {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25px 1fr minmax(60px, 1fr);
}

.conteudo__demonstracao__item--logo {
  grid-area: logo;
}

.conteudo__demonstracao__item--nav {
  grid-area: nav;
}

.conteudo__demonstracao__item--search {
  grid-area: search;
}

.conteudo__demonstracao__item--content {
  grid-area: content;
}

.conteudo__demonstracao__item--footer {
  grid-area: footer;
}

.conteudo__demonstracao__template-areas {
  grid-template-areas: "logo nav search" "content content content" "footer footer footer";
}

.conteudo__demonstracao__template {
  grid-template: "logo nav search" 1fr "content content content" 3fr "footer footer footer" 1fr/1fr 5fr 1fr;
}

.conteudo__demonstracao__row-gap {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
}

.conteudo__demonstracao__column-gap {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.conteudo__demonstracao__gap {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
}

.conteudo__demonstracao__auto-rows {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 2.5rem;
}

.conteudo__demonstracao__auto-columns {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 2.5rem;
}
.conteudo__demonstracao__auto-columns .conteudo__demonstracao__item--4 {
  grid-column: 3;
}

.conteudo__demonstracao__grid-auto-flow {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.conteudo__demonstracao__grid-auto-flow div:nth-child(3), .conteudo__demonstracao__grid-auto-flow div:nth-child(5), .conteudo__demonstracao__grid-auto-flow div:nth-child(8), .conteudo__demonstracao__grid-auto-flow div:nth-child(13) {
  grid-column: span 3;
  grid-row: span 2;
}

.conteudo__demonstracao__grid-column {
  width: 60%;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.2rem;
  border: none;
}
.conteudo__demonstracao__grid-column div {
  border: none;
  color: #f6f6f6;
}
.conteudo__demonstracao__grid-column div:nth-child(1) {
  background-color: #C9316B;
  grid-row: 1;
  grid-column: 1/3;
}
.conteudo__demonstracao__grid-column div:nth-child(2) {
  background-color: #CA319D;
  grid-row: 1/3;
  grid-column: 3/6;
}
.conteudo__demonstracao__grid-column div:nth-child(3) {
  background-color: #ED6E62;
  grid-column: 6/11;
  grid-row: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2.5rem;
}
.conteudo__demonstracao__grid-column div:nth-child(4) {
  background-color: #EFC437;
}
.conteudo__demonstracao__grid-column div:nth-child(5) {
  background-color: #538C45;
  grid-column: 1/3;
}
.conteudo__demonstracao__grid-column div:nth-child(6) {
  background-color: #267C87;
}
.conteudo__demonstracao__grid-column div:nth-child(7) {
  background-color: #799928;
  grid-column: 1/3;
}
.conteudo__demonstracao__grid-column div:nth-child(8) {
  background-color: #478755;
}
.conteudo__demonstracao__grid-column div:nth-child(9) {
  background-color: #30C9C2;
  grid-column: 4/6;
}
.conteudo__demonstracao__grid-column div:nth-child(10) {
  background-color: #31C98F;
  grid-row: 3;
  grid-column: 11;
}
.conteudo__demonstracao__grid-column div:nth-child(11) {
  background-color: #544079;
  grid-column: 1/6;
}
.conteudo__demonstracao__grid-column div:nth-child(12) {
  background-color: #DE212F;
}

.conteudo__demonstracao__order--grid {
  grid-template-columns: repeat(3, 1fr);
}
.conteudo__demonstracao__order--grid div:nth-child(1) {
  order: 2;
}
.conteudo__demonstracao__order--grid div:nth-child(2) {
  order: 3;
}
.conteudo__demonstracao__order--grid div:nth-child(3) {
  order: 5;
}
.conteudo__demonstracao__order--grid div:nth-child(4) {
  order: 1;
}
.conteudo__demonstracao__order--grid div:nth-child(5) {
  order: 4;
}

.conteudo__demonstracao__justify-content--grid, .conteudo__demonstracao__justify-items--grid, .conteudo__demonstracao__justify-self--grid {
  grid-template-columns: 5rem minmax(5rem, auto);
}

.conteudo__demonstracao__align-content--grid, .conteudo__demonstracao__align-items--grid, .conteudo__demonstracao__align-self--grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 5rem) minmax(5rem, auto);
}

footer {
  background-color: #313250;
  color: #FFFFFF;
  padding: 11.278rem 4.8rem;
}
@media screen and (1024px <= width <= 1365px) {
  footer {
    padding: 8rem;
  }
}
@media screen and (768px <= width <= 1023px) {
  footer {
    padding: 8rem;
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 8rem 2.4rem;
  }
}

.footer__listas {
  background-color: #313250;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.4rem;
}
.footer__listas ul:nth-child(1) {
  grid-column: 2/span 2;
}
.footer__listas ul:nth-child(2) {
  grid-column: 4/span 2;
}
.footer__listas ul:nth-child(3) {
  grid-column: 6/span 2;
}
.footer__listas ul:nth-child(4) {
  grid-column: 8/span 2;
}
.footer__listas ul:nth-child(5) {
  grid-column: 10/span 2;
}
@media screen and (1024px <= width <= 1365px) {
  .footer__listas {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2.4rem;
    row-gap: 4rem;
  }
  .footer__listas ul:nth-child(odd) {
    grid-column: 1/4;
  }
  .footer__listas ul:nth-child(even) {
    grid-column: 5/7;
  }
}
@media screen and (768px <= width <= 1023px) {
  .footer__listas {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2.4rem;
    row-gap: 4rem;
  }
  .footer__listas ul:nth-child(odd) {
    grid-column: 1/4;
  }
  .footer__listas ul:nth-child(even) {
    grid-column: 5/8;
  }
}
@media screen and (max-width: 767px) {
  .footer__listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
    row-gap: 4rem;
  }
  .footer__listas ul:nth-child(1) {
    grid-column: 1/span 3;
  }
  .footer__listas ul:nth-child(2) {
    grid-column: 1/span 3;
  }
  .footer__listas ul:nth-child(3) {
    grid-column: 1/span 3;
  }
  .footer__listas ul:nth-child(4) {
    grid-column: 1/span 3;
  }
  .footer__listas ul:nth-child(5) {
    grid-column: 1/span 3;
  }
}

.footer__listagem {
  background-color: #313250;
}
.footer__listagem .footer__listagem__titulo, .footer__listagem .footer__listagem__titulo a {
  background-color: #313250;
  margin-bottom: 2.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.05rem;
}
.footer__listagem .footer__listagem__item, .footer__listagem .footer__listagem__item a {
  background-color: #313250;
  margin-bottom: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.05rem;
}
.footer__listagem .footer__listagem__titulo a:hover, .footer__listagem .footer__listagem__item a:hover {
  text-decoration: underline;
}

.footer__redes {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.4rem;
  margin-bottom: 8rem;
  background-color: #313250;
}
@media screen and (1024px <= width <= 1365px) {
  .footer__redes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2.4rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
  }
}
@media screen and (768px <= width <= 1023px) {
  .footer__redes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2.4rem;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
    margin-top: 4rem;
  }
}
.footer__redes p, .footer__redes div {
  background-color: #313250;
  grid-column: 2/span 2;
}
@media screen and (1024px <= width <= 1365px) {
  .footer__redes p, .footer__redes div {
    grid-column: 1/span 2;
  }
}
@media screen and (768px <= width <= 1023px) {
  .footer__redes p, .footer__redes div {
    grid-column: 1/span 2;
  }
}
@media screen and (max-width: 767px) {
  .footer__redes p, .footer__redes div {
    grid-column: 1/span 2;
  }
}
.footer__redes p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #F39200;
  letter-spacing: 0.13rem;
  margin-bottom: 1.2rem;
}
.footer__redes div {
  display: flex;
  gap: 1.6rem;
  grid-row: 2;
}
.footer__redes div a {
  background-color: #313250;
}
.footer__redes div a img {
  background-color: #313250;
}

.footer__codigo-conduta, .footer__codigo-conduta a {
  background-color: #313250;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.464rem;
  font-weight: 700;
  text-align: center;
  text-transform: initial;
  color: #707070;
  letter-spacing: 0.05rem;
}

input[type=text], textarea {
  all: unset;
  background-color: #1F2041;
  padding: 2.4rem;
  border: 0.05rem solid #FFFFFF;
  border-radius: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: left;
  text-transform: initial;
  color: #FFFFFF;
  display: block;
}
input[type=text]::placeholder, textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: left;
  text-transform: initial;
  color: #C2C2C2;
}
input[type=text]:focus, textarea:focus {
  background-color: #1F2041;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 400;
  text-align: left;
  text-transform: initial;
  color: #FFFFFF;
}
input[type=text]:-webkit-autofill, input[type=text]:-webkit-autofill:hover, input[type=text]:-webkit-autofill:focus, input[type=text]:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
  transition: all 5000s;
}

.botao__primario {
  background-color: #F39200;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.708rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.7);
  border-radius: 1.2rem;
  padding: 1.6rem 3.2rem;
  border: none;
}

/*# sourceMappingURL=style.css.map */
